@mixin boxshadow($shadow:2px 4px 10px grey) {
    box-shadow: $shadow;
    border: 1px solid darken(grey, 20%);
}

.container-fluid{
    padding: 0;
}

div main {
    background-image: url(../Mini2/Udleverede%20billeder/main_background.png);
    width: 100%;
    height: 700px;
}

article{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    
    hr{
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
}

.headerbackgrond {
    background-image: url(../Mini2/Udleverede%20billeder/navigation_background.png);
    @include boxshadow();
}

#map {
    border: 3px solid white;
}

.container #map{
    height: 550px;
    width: 100%;
}

.slide {
    border: 3px solid lighten(rgba(128, 128, 128, 0.7), 5%);
}
.main-footer-content {
    width: 100%;
}

.main-footer-item {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

a{
    color: grey;
    font-weight: bold;
    transition: 0.3s;

    &:hover{
        color: lighten( grey, 10%);
        transition: 0.3s;
    }
}

.footerbg{
    background-color: lighten(grey, 35%);
    height: 130px;
}

footer{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}