.container-fluid {
  padding: 0;
}

div main {
  background-image: url(../Mini2/Udleverede%20billeder/main_background.png);
  width: 100%;
  height: 700px;
}

article {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

article hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}

.headerbackgrond {
  background-image: url(../Mini2/Udleverede%20billeder/navigation_background.png);
  box-shadow: 2px 4px 10px grey;
  border: 1px solid #4d4d4d;
}

#map {
  border: 3px solid white;
}

.container #map {
  height: 550px;
  width: 100%;
}

.slide {
  border: 3px solid rgba(141, 141, 141, 0.7);
}

.main-footer-content {
  width: 100%;
}

.main-footer-item {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

a {
  color: grey;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: #9a9a9a;
  transition: 0.3s;
}

.footerbg {
  background-color: #d9d9d9;
  height: 130px;
}

footer {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}
